$grey-color: rgb(27, 28, 32);
$green-color: #00c29a;
$grey-line: #4b4d55;
$grid-row: calc(25%-175);
$width-window: 850px;
$height-window: 700px;

body{
  position: relative;
  background: white;
  max-width: $width-window;
  max-height: $height-window;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

ul{
  list-style: none;
}

.app-header{
  position: relative;
  width: 100%;
  background: $grey-color;
  z-index:1000;
  .header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
  }
  .nav-arrow ul{
    margin-right: 5px;
  }
  .nav-arrow ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #4b4d55;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    transition: background .2s;
    cursor: pointer;
    &:first-child{
      margin-right: 10px;
    }
    &:hover{
      background: $green-color;
    }
  }
}

.view-container{
  position: relative;
  width: 100%;
  height: calc(700px - 110px);
  overflow: hidden;
  // overflow-x: scroll;
  // overflow-y: hidden;
  .grid-container{
    display: grid;
    height: 100%;
    width: 101%;
    // grid-template-rows: repeat(2, 50%);
    grid-auto-columns: 50%;
    grid-auto-flow: column;
    overflow-x: scroll;
    .image-container, .video-container, .quote-container{
      display: block;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-size: cover;
      // overflow: hidden;
    }
  }
}

footer{
  position: absolute;
  bottom:0;
  width: 100%;
  height: 50px;
  background: $grey-color;
  .footer-line{
    position: relative;
    height: 4px;
    width: 100%;
    background: $grey-line;
    &:after{
      content: '';
      position: absolute;
      width: 50%;
      height: 4px;
      background: $green-color;
    }
  }
}