$grey-color: rgb(27, 28, 32);
$green-color: #00c29a;
$grey-line: #4b4d55;
$grey-color-quote: rgb(39, 40, 44);
$grid-row: calc(25%-175);
$width-window: 850px;
$height-window: 700px;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');


@mixin background-gradiant {
  background: rgba(176,176,176,0);
  background: -moz-linear-gradient(top, rgba(176,176,176,0) 23%, rgba(114,114,115,0) 52%, rgba(12,12,13,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(23%, rgba(176,176,176,0)), color-stop(52%, rgba(114,114,115,0)), color-stop(100%, rgba(12,12,13,1)));
  background: -webkit-linear-gradient(top, rgba(176,176,176,0) 23%, rgba(114,114,115,0) 52%, rgba(12,12,13,1) 100%);
  background: -o-linear-gradient(top, rgba(176,176,176,0) 23%, rgba(114,114,115,0) 52%, rgba(12,12,13,1) 100%);
  background: -ms-linear-gradient(top, rgba(176,176,176,0) 23%, rgba(114,114,115,0) 52%, rgba(12,12,13,1) 100%);
  background: linear-gradient(to bottom, rgba(176,176,176,0) 23%, rgba(114,114,115,0) 52%, rgba(12,12,13,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0b0b0', endColorstr='#0c0c0d', GradientType=0 );
}

@mixin button($color) {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-size: 16px 16px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: $color;
}

body{
  position: relative;
  background: white;
  max-width: $width-window;
  max-height: $height-window;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

ul{
  list-style: none;
}

.app-header{
  position: relative;
  width: 100%;
  background: $grey-color;
  z-index:998;
  
  .header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 50px;
    color: white;
    & > div{
      display: flex;
      align-items: center;
    }
    .title{
      margin-left: 0.8rem;
      font-size: 1rem;
    }
  }
  .nav-arrow ul{
    margin-right: 5px;
  }
  .nav-arrow ul li{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #4b4d55;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    transition: background .2s;
    cursor: pointer;
    &:first-child{
      margin-right: 10px;
    }
    &:hover{
      background: $green-color;
    }
  }
}

.view-container{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // overflow-x: scroll;
  // overflow-y: hidden;
  .grid-container{
    display: grid;
    min-height: calc(700px - 110px);
    width: 101%;
    grid-auto-columns: 50%;
    grid-auto-flow: column;
    overflow-x: scroll;
  }  
  .image-container, .video-container, .quote-container{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
  }
  .background-content{
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    cursor: pointer;
    &:after{
      content: '';
      position: absolute;
      top: 20%;
      display: block;
      width: 100%;
      height: 100%;
      @include background-gradiant();
      background-position: 0 50%;
      opacity: 0;
      transition: all 0.6s;
    }
    &:hover{
      transform: scale(1.1);
      &:after{
        top:0;
        opacity: 0.8;
      }
    }
  }
  .zoom{
    position: absolute;
    @include button($green-color);
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.4s;
  }
  .image-container:hover .zoom{transform: scale(1);}
  .video-container .background-content{
    &:after{
      top:5%;
      opacity: .5;
    }
    &:hover{
      &:after{
        top:0;
        opacity: 0.8;
      }
    }
  }
  
  .play-container{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    .play-button{
      @include button($green-color);
      margin-left: 10px;
      margin-right: 10px;
      transform: scale(.9)
    }
    p{
      margin: 0;
    }
    .title-video{
      font-weight: 600;
      font-size: 16px;
    }
    .subtitle-video{
      font-size: 12px;
    }
  }
  .quote-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $grey-color-quote;
    text-align: center;
  }
}

.embed-video-page-container{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: $grey-color;
  z-index: 999;
  .infos-embed-video-container{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 135px;
    background: $grey-color-quote;
    ul {
      color: white;
      li:first-child{
        color: $green-color;
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      li:last-child{
        margin-top:5px;
        font-size: 12px;
      }
    }
  }
}

.youtube{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%)
}

.close-btn{
  position: absolute;
  display: block;
  top:10px;
  right:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle; 
  background: $grey-line;
  transition: background .2s;
  cursor: pointer;
  &:hover{
    background: $green-color;
  }
}

footer{
  position: relative;
  bottom:0;
  width: 100%;
  height: 50px;
  background: $grey-color;
  .footer-line{
    position: relative;
    height: 4px;
    background: $grey-line;
    &:after{
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      background: $green-color;
    }
  }
  .footer-container{
    position: relative;
    display: flex;
    width: inherit;
    height: 46px;
    align-items: center;
    justify-content: space-between;
    img:first-child{
      margin-left: 10px;
      height:70%;
    }
    & > div{
      margin-right: 10px;
    }
    & > div span{
      font-size: 12px;
      color: white;
      line-height: 46px;
      vertical-align: middle;
      text-transform: uppercase;
    }
    & > div img{
      line-height: 46px;
      vertical-align: middle;
    }
  }
}